# Secrets
.env
.env.*
!.env.example

# Node
node_modules/
npm-debug.log*
*.log

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example

# Ansible generated / environment-specific files
ansible/inventory.ini
ansible/kubeconfig
ansible/join-command.sh
*.retry

# Kubernetes generated
k8s/secrets.yaml

# TLS / keys
*.pem
*.key
!k3s-token.example

# macOS
.DS_Store
